// Fonts

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

// Variables

// Primary colors:
$black: hsl(0, 0%, 0%);
$grey-200: hsl(0, 0%, 85%);
$grey-700: hsl(0, 0%, 60%);

// font-size
$text-para: 15px;

// Scroll-based animations.

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes clipPathAnimation {
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

.hero,
.about {
  animation: appear linear;
  animation-timeline: view();
  // complete animation when entered viewport
  // cover - ensures fully complete by the time reaches 40% of viewport
  animation-range: entry 0% cover 40%;
}

.creations h2,
.creations button {
  animation: slide linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.gallery__item {
  animation: clipPathAnimation linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

// Styling
// BEM Methodology

// Mixins

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

// global styles

body,
h1,
h2,
h3,
h4,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

// Utility classes for mobile menu

.h-screen {
  height: 100vh;
  overflow: hidden;
}

.translate-100 {
  // opacity: 0;
  transform: translateX(-30rem);
}
.translate-0 {
  // opacity: 1;
  transform: translateX(0rem);
}

// Background image for hero

.cover {
  background-image: url("/images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 84vh;
  color: white;
  padding: 1.5rem;
}

// Navbar and header

main {
  position: relative;
}

.header {
  @include flex(row, space-between, center);
  font-size: large;

  .logo {
    display: flex;
    height: 1.5rem;
    z-index: 20;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .hamburger-icon {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }

  .nav-mobile {
    @include flex(column, start, start);
    gap: 1.5rem;
    padding-top: 15rem;
    padding-left: 2rem;
    background-color: black;
    inset: 0;
    z-index: 10;
    position: absolute;
    font-size: 100;
    text-transform: uppercase;
    font-size: 2rem;
    transition: transform 0.5s linear;
  }

  .nav-desktop {
    display: none;
  }
}

// Hero Section

.hero {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;

  .hero__item {
    border: solid white 2px;
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

// About section

.about {
  // block - y-axis
  padding-block: 6rem;
  // inline - x-axis
  padding-inline: 1.5rem;

  @include flex(column, center, center);
  gap: 3rem;

  .about__item {
    text-align: center;
    @include flex(column, center, center);
    gap: 1.2rem;
    h2 {
      font-size: 2rem;
      margin: 0;
    }
    p {
      margin: 0;
      color: $grey-700;
      line-height: 1.6rem;
      width: 90%;
    }
  }
}

// Creations

.creations {
  h2 {
    font-size: 2rem;
  }
  text-align: center;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "item-1" "item-3" "item-2";
  button {
    grid-row: 3/4;
    justify-self: center;
    margin-top: 3rem;
    background-color: white;
    border: solid black 2px;
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    padding-block: 0.5rem;
    padding-inline: 3rem;
    letter-spacing: 4px;
    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
      border-color: white;
    }
  }
}

.gallery {
  display: grid;
  gap: 1.5rem;
  text-align: start;
  padding-top: 1.4rem;
}

.gallery__item {
  position: relative;

  .overlay {
    background: linear-gradient(to left, transparent, hsl(0, 0%, 0%));
    inset: 0;
    position: absolute;
  }
}

h3 {
  font-size: 1.5rem;
  position: absolute;
  color: white;
  width: 34vw;
  z-index: 10;
  bottom: 1.4rem;
  left: 1.4rem;
}

// Footer

.footer {
  background-color: black;
  color: white;
  @include flex(column, center, center);
  text-align: center;
  padding-block: 3.5rem;
  margin-top: 5rem;

  .logo {
    height: 1.4rem;
  }
  .footer-nav {
    @include flex(column, center, center);
    gap: 1rem;
    padding-top: 1.5rem;
  }

  .socials {
    @include flex(row, center, center);
    gap: 1rem;
    font-size: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  small {
    color: $grey-700;
    font-size: 1rem;
  }
}

// Media Queries
@media (min-width: 400px) {
  .hero .hero__item {
    font-size: 3rem;
  }
  .creations {
    // padding-inline: 2.8rem;
    .gallery {
      gap: 2.5rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
}

@media (min-width: 500px) {
  // background image changes
  .cover {
    background-image: url("/images/desktop/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    color: white;
    padding-inline: 3rem;
    padding-top: 2rem;
    font-size: smaller;
  }

  .header .logo {
    height: 2rem;
  }
  // Hero section changes
  .hero {
    height: 80%;
    .hero__item {
      padding: 1.5rem;
      font-size: 3.2rem;
      line-height: 4rem;
      width: 30rem;
    }
  }
  main {
    padding-inline: 4rem;
  }

  // About section
  .about {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  // Button - creations section
  .creations {
    button {
      margin-top: 3rem;
      padding-block: 1rem;
      padding-inline: 4rem;
    }
  }
}

// After 550px
@media (min-width: 550px) {
  .hero {
    height: 80%;
    .hero__item {
      font-size: 4rem;
      padding: 3rem;
    }
  }
}

// After 800
@media (min-width: 800px) {
  // Main
  main {
    padding-inline: 0.5rem;
  }
  .nav-mobile {
    padding-left: 1rem;
  }
  // hide mobile nav
  .header .nav-mobile {
    display: none;
  }
  // Hide hamburger icon
  .hamburger-icon {
    display: none;
  }
  // show desktop nav
  .header .nav-desktop {
    @include flex(row, center, center);
    gap: 2rem;
  }
  // Hero section
  .hero .hero__item {
    line-height: 5rem;
    padding: 3rem;
  }

  // About section
  .about {
    @include flex(row, center, center);
    padding-block: 10rem;
    .about-content {
      margin-left: -25rem;
      margin-bottom: -18rem;
      z-index: 10;
      background-color: white;
      width: 30rem;
      padding: 4rem;
      h2 {
        font-size: 3rem;
      }
    }
  }
  // Creations section
  .creations {
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item-1 item-2" "item-3 item-3";
    text-align: start;

    h2 {
      font-size: 2.5rem;
      align-self: center;
    }
    button {
      grid-row: auto;
      margin: 0;
      height: fit-content;
      align-self: center;
      justify-self: end;
    }
  }
  // Gallery
  .gallery {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 3.5rem;
  }

  .gallery__item {
    h3 {
      width: 14vw;
      bottom: 2rem;
      font-size: 1.5rem;
      left: 0.5;
    }

    .overlay {
      background: linear-gradient(
        to bottom,
        transparent,
        hsla(0, 0%, 0%, 0.577)
      );
    }
  }

  // Footer
  // Footer section
  .footer {
    @include flex(row, space-between, center);
    padding-inline: 2.5rem;

    .socials {
      @include flex(row, center, center);
      gap: 1rem;
      padding: 0;
      font-size: 1.5rem;
    }
    .footer__item-1 {
      @include flex(column, center, start);
      gap: 1.5rem;
    }
    .footer__item-2 {
      @include flex(column, center, end);
      gap: 1.5rem;
    }
    .footer-nav {
      @include flex(row, auto, auto);
      padding-top: 0;
    }
  }
}

// After 920
@media (min-width: 920px) {
  // Main
  main {
    padding-inline: 5rem;
  }
  // Cover
  .cover {
    line-height: 5rem;
  }

  // Hero
  .hero {
    @include flex(column, center, start);
    .hero__item {
      font-size: 5rem;
      width: 40rem;
    }

    // About section
    .about {
      .about-content {
        margin-left: -13rem;
        margin-bottom: -10rem;
        width: 30rem;
        padding: 4rem;
        h2 {
          font-size: 3rem;
        }
      }
    }
  }

  .cover {
    background-image: url("/images/desktop/image-hero.jpg");
    background-size: cover;
    height: 82vh;
    padding-inline: 5rem;
  }

  // Craetions
  .creations h2 {
    font-size: 2.8rem;
  }
  .gallery__item {
    h3 {
      font-size: 1.5rem;
      left: 1;
    }
  }
}

// after 1260
@media (min-width: 1260px) {
  .cover {
    padding-inline: 10rem;
  }
  main {
    padding-inline: 7rem;
  }
  .creations h2 {
    font-size: 3rem;
  }
  .gallery__item {
    h3 {
      font-size: 2rem;
      width: 14vw;
      left: 2rem;
    }
  }

  .footer {
    padding-inline: 7rem;
  }
}

// after 1440px
@media (min-width: 1440px) {
  main {
    padding-inline: 10rem;
  }
  .footer {
    padding-inline: 10rem;
  }
}
