// Fonts

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

// Variables

// Primary colors:
$black: hsl(0, 0%, 0%);
$grey-200: hsl(0, 0%, 85%);

// font-size
$text-para: 15px;

// Styling
// BEM Methodology

// Mixins

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

body {
  margin: 0;
}

// Hero section and navbar.

.cover {
  background-image: url("/images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  color: white;
  padding: 2rem;
}

.header {
  @include flex(row, space-between, center);
  font-size: large;
  text-align: center;
}

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: none;
}

.hero {
  text-transform: uppercase;
  font-weight: 100;
}
