// Fonts

.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

// Variables

// Primary colors:
$black: hsl(0, 0%, 0%);
$grey-200: hsl(0, 0%, 85%);
$grey-700: hsl(0, 0%, 60%);

// font-size
$text-para: 15px;

// Styling
// BEM Methodology

// Mixins

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $direction;
}

// global styles

body,
h1,
h2,
h3,
h4,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  text-transform: uppercase;
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

// Background image for hero

.cover {
  background-image: url("/images/mobile/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 54vh;
  color: white;
  padding: 1.5rem;
}

// Navbar and header

.header {
  @include flex(row, space-between, center);
  font-size: large;

  .logo {
    display: flex;
    height: 1.5rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .hamburger-icon {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: none;
  }
}

// Hero Section

.hero {
  @include flex(row, center, center);
  width: 100%;
  height: 100%;

  .hero__item {
    border: solid white 2px;
    padding: 1.5rem;
    font-size: 2.5rem;
  }
}

// About section

.about {
  // block - y-axis
  padding-block: 6rem;
  // inline - x-axis
  padding-inline: 1.5rem;

  @include flex(column, center, center);
  gap: 3rem;

  .about__item {
    text-align: center;
    @include flex(column, center, center);
    gap: 1.2rem;
    h2 {
      font-size: 2rem;
      margin: 0;
    }
    p {
      margin: 0;
      color: $grey-700;
      line-height: 1.6rem;
      width: 90%;
    }
  }
}

// Creations

.creations {
  h2 {
    font-size: 2rem;
  }
  text-align: center;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  button {
    grid-row: 3/4;
    justify-self: center;
    margin-top: 1rem;
    background-color: white;
    border: solid black 2px;
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    padding-block: 0.5rem;
    padding-inline: 3rem;
    letter-spacing: 4px;
    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
      border-color: white;
    }
  }
}

.gallery {
  display: grid;
  gap: 1.5rem;
  text-align: start;
  padding-top: 1.4rem;
}

.gallery__item {
  position: relative;

  .overlay {
    background: linear-gradient(to left, transparent, hsl(0, 0%, 0%));
    inset: 0;
    position: absolute;
  }
}

h3 {
  font-size: 1.5rem;
  position: absolute;
  color: white;
  width: 34vw;
  z-index: 10;
  bottom: 1.4rem;
  left: 1.4rem;
}

// Footer

.footer {
  background-color: black;
  color: white;
  @include flex(column, center, center);
  text-align: center;
  padding-block: 3.5rem;
  margin-top: 5rem;
  .footer__item {
  }
  .logo {
    height: 1.4rem;
  }
  .footer-nav {
    @include flex(column, center, center);
    gap: 1rem;
    padding-top: 1.5rem;
  }

  .socials {
    @include flex(row, center, center);
    gap: 1rem;
    font-size: 1.5rem;
  }

  small {
    color: $grey-700;
    font-size: 1rem;
  }
}

// Media Queries

@media (min-width: 400px) {
  // Hide hamburger icon
  .hamburger-icon {
    display: none;
  }
  // background image changes
  .cover {
    background-image: url("/images/desktop/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 82vh;
    line-height: 5rem;
    color: white;
    padding-inline: 10rem;
    padding-top: 2rem;
    font-size: smaller;
  }

  // show desktop nav
  .header .nav-desktop {
    @include flex(row, center, center);
    gap: 2rem;
  }

  .header .logo {
    height: 2rem;
  }
  // Hero section changes
  .hero {
    @include flex(column, center, start);
    height: 80%;
    .hero__item {
      border: solid white 2px;
      padding: 1.5rem;
      font-size: 5rem;
      width: 40rem;
    }
  }
  // About section
  .about {
    @include flex(row, center, center);
    padding-block: 10rem;
    .about-content {
      margin-left: -13rem;
      margin-bottom: -10rem;
      z-index: 10;
      background-color: white;
      width: 30rem;
      padding: 4rem;
      h2 {
        font-size: 3rem;
      }
    }
  }

  // Creations section
  .creations {
    grid-template-rows: 10vh 1fr;
    // align-items: center;
    // justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item-1 item-2" "item-3 item-3";
    padding-inline: 10rem;
    text-align: start;

    h2 {
      font-size: 3rem;
    }
    button {
      grid-row: auto;
      margin: 0;
      height: fit-content;
      align-self: center;
      justify-self: end;
    }
  }

  // Gallery
  .gallery {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 3.5rem;
  }

  .gallery__item {
    h3 {
      font-size: 2rem;
      width: 10vw;
      bottom: 2rem;
      left: 2rem;
    }

    .overlay {
      background: linear-gradient(
        to bottom,
        transparent,
        hsla(0, 0%, 0%, 0.577)
      );
    }
  }

  // Footer section
  .footer {
    @include flex(row, space-between, center);
    padding-inline: 10rem;

    .footer__item-1 {
      @include flex(column, center, start);
    }
    .footer__item-2 {
      @include flex(column, center, end);
    }
    .footer-nav {
      @include flex(row, auto, auto);
      margin: 0;
    }
  }
}
